<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <form action=""> -->
        <div id="AuthorDiv">
            <form action="get">
                <input type="text" name="author">
                <input type="text" name="author">
                <button type="submit">Отправить</button>
            </form>
            <label for="AuthorField1">AuthorField1</label>
            <input type="text" id="AuthorField1"  placeholder="поле AuthorField1">
            <button type="button" id="AuthorFieldBtn1" onclick="AddAuthor()">+</button>
        </div>
        <!-- </div> -->
        
    <!-- </form> -->
    
    <script>
        function AddAuthor()
        {

        }
    </script>
</body>
</html>